.agregar-container {
  padding-block: var(--section-padding);
  padding-inline: 1.5rem;
}

h1{
  text-align: center;
}

.agregar-card {
  width: 100%;
  max-width: 65rem;
  background-color: var(--contrast-ligth-color);
  border-radius: 16px;
}

.btn-login {
  background-color: var(--primary-color);
  color: var(--contrast-ligth-color);
  border: none;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.loader {
  border: 6px solid #e3e3e3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.loader-text {
  margin-top: 15px;
  font-size: 1.1rem;
  color: #444;
  text-align: center;
  font-weight: 500;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
