<section class="sectionP service">
  <div class="containerP">
    <!-- LOADER -->
    <div class="loader-container" *ngIf="cargando">
      <div class="loader"></div>
      <p class="loader-text">Cargando producto... por favor espere</p>
    </div>
    <ul class="grid-list" *ngIf="!cargando">
      <li>
        <ul class="grid-list3">
          <li>
            <div class="service-card mb-3 w-100">
              <label for="mascota" class="form-label h3 card-title">Selecciona el tipo de producto</label>
              <select id="mascota" name="mascota" class="form-select" required [(ngModel)]="tipoSeleccionado" (change)="filtrar()">
                <option *ngFor="let e of tipos" [value]="e.value">{{ e.text }}</option>
                <option *ngIf="tipos.length === 0" value="" >Sin tipos</option>
              </select>
            </div>
          </li>
        </ul>
      </li>
      <li class="product-card">
        <ul class="grid-list2">
           <li *ngFor="let e of productosFiltrados" id="e.id">
              <a [attr.href]="'/producto/' + e.category + '/' + e.id" class="product-card">
                <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                  <img [src]="e.link" loading="lazy" alt="Commodo leo sed porta" class="img-cover default">
                </div>
                <div class="card-content">
                  <div class="wrapper">
                    <div class="rating-wrapper">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                    <span class="span">(1)</span>
                  </div>
                  <h3 class="h3"><a [attr.href]="'/producto/' + e.category + '/' + e.id" class="card-title">{{e.name}}</a></h3>
                  <data class="card-price" value="15">${{e.price}}</data>
                </div>
              </a>
            </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
