.error-container {
  padding: 1rem;
  align-items: center !important;
  margin-block: 60px;
}

.error-card {
  width: 100%;
  max-width: 35rem;
  background-color: var(--contrast-ligth-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error-card__icon-complete {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  background-image: url('/assets/Img/denied.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.error-card__title {
  max-width: 20rem;
  font-size: 1.7rem;
  font-weight: 400;
}

.btn-login {
  background-color: #0071ea;
  color: #fff;
  border: none;
}

.button{
  display: block;
  background-color: #0071ea;
  border-radius: 7px;
  width: 100%;
  margin-top: 1rem;
  max-width: 20rem;
  padding: 1.125rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.45rem;
  align-self: center;
  text-align: center;
  text-decoration: none;
}
