.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--portland-orange);
  color: var(--white);
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: var(--shadow-2);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*  */
.footerF {
  background-color: var(--raisin-black);
  color: var(--battleship-gray);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.sectionF {
  padding-block: var(--section-padding);
}

.footer-top {
  padding-block-start: 100px;
  border-block-end: 1px solid var(--onyx);
}

.footer-top .containerF {
  display: grid;
  gap: 30px;
}

.containerF {
  padding-inline: 15px;
}

.footerF .logo {
  color: var(--white);
  margin-block-end: 10px;
}

.logo {
  font-family: var(--ff-carter_one);
  font-size: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

.footer-text {
  font-size: var(--fs-6);
  margin-block-end: 25px;
}

.footer-text .link {
  display: inline-block;
  color: var(--portland-orange);
}

.contact-item {
  margin-block-end: 15px;
  color: var(--white);
  font-weight: var(--fw-700);
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-item i {
  flex-shrink: 0;
  font-size: 22px;
  color: var(--portland-orange);
}

address{
  margin: 0;
}

.social-list{
  display: flex;
  gap: 10px;
}

.social-link {
  background-color: var(--white);
  color: var(--black);
  padding: 12px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.social-link:hover {
  background-color: var(--portland-orange);
  color: var(--white);
}

.footer-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-list-title {
  color: var(--white);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  padding-block: 10px;
}

.footer-link {
  padding-block: 4px;
  transition: var(--transition-1);
}

.footer-link:hover {
  color: var(--white);
}

.footer-bottom {
  padding-block: 20px;
}

.copyright {
  margin-block-end: 10px;
}

.footer-bottom .img {
  width: 100%;
  max-width: max-content;
}

@media (min-width: 575px) {
  .footer-top .containerF {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 700px){
}
@media (min-width: 768px) {
  .footer-bottom .containerF {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .containerF {
    padding-inline: 30px;
  }
  .footer-top .containerF {
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
  }
  .logo {
    font-size: 3.8rem;
  }
}
@media (min-width: 1200px) {
  .footerF {
    padding-block-start: 40px;
  }
  :is(.brand, .footerF) .containerF {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
  }
}
